<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.mailplug.aeolos2" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDorm.White">
        <profileable android:shell="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="@string/SENTRY_DSN" />
        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production. -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
        <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />

        <activity
            android:name=".presentation.mypage.DisLikedMateListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.mypage.MyMatchingProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.account.WithdrawalActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity
            android:name=".presentation.mypage.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.mypage.NotificationSettingActivity"
            android:exported="true"
            android:parentActivityName=".presentation.mypage.MyInfoSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.ChangeNickNameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".presentation.board.WritePostActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:windowSoftInputMode="adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.board.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.calendar.ScheduleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.LikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.DisikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.CommentListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.board.PostListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.OnboardActivity"
            android:exported="true"
            android:label="@string/title_activity_onboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.FindPassActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.Blue"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".presentation.account.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.MyInfoSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.matching.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>