<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.mailplug.aeolos2" />
    </queries>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDorm.White">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/iDorm_blue" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="POST" />

        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <profileable android:shell="true" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="@string/SENTRY_DSN" />
        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production. -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
        <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />

        <activity
            android:name=".presentation.mypage.community.wrote_post_list.WrotePostListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.community.liked_post_list.LikedPostListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.community.CommentListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity">

        </activity>

        <activity
            android:name=".presentation.mypage.matching.DisLikedMateListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.mypage.matching.MyMatchingProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.component.ImageViewPager"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.account.WithdrawalActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>

        <activity
            android:name=".presentation.mypage.myinfo.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".presentation.mypage.NotificationSettingActivity"
            android:exported="true"
            android:parentActivityName=".presentation.mypage.myinfo.MyInfoSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.myinfo.ChangeNickNameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".presentation.board.WritePostActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".presentation.board.EditPostActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".presentation.board.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.calendar.ScheduleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.matching.LikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.DisikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.OnboardActivity"
            android:exported="true"
            android:label="@string/title_activity_onboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity">

        </activity>
        <activity
            android:name=".presentation.account.FindPassActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="action"
                    android:scheme="idorm" />
            </intent-filter>


        </activity>

        <activity
            android:name=".presentation.account.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.account.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.mypage.myinfo.MyInfoSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.matching.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NotificationHubActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="NOTICE" />
                <action android:name="COMMENT" />
                <action android:name="SUBCOMMENT" />
                <action android:name="TOPPOST" />
            </intent-filter>

        </activity>
    </application>

</manifest>