<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.appcenter.inudorm">

    <uses-sdk tools:overrideLibrary="androidx.core.splashscreen" />

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.mailplug.aeolos2" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IDorm.White">
        <activity
            android:name=".presentation.WritePostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.ScheduleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.LikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.DisikedMateListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.CommentListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.PostListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.OnboardActivity"
            android:exported="true"
            android:label="@string/title_activity_onboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".presentation.FindPassActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.Blue"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".presentation.account.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity">


        </activity>
        <activity
            android:name=".presentation.MyInfoSettingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.FilterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IDorm.White"
            tools:ignore="LockedOrientationActivity"></activity>
    </application>

</manifest>